.translated-result {
  margin: 30px auto;
  width: 49%;
  height: 40px;
  padding: 10px 5px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 50px;
  font-weight: 500;
  position: relative;

  .MeSH-container {
    width: 175px;
    height: 200px;
    background-color: #88a47c;

    position: absolute;
    top: 150px;
    left: -400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

.expand-button {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 49%;
  height: 40px;
  padding: 10px 5px;
  text-align: center;
  background-color: #0099ff;
  color: #fff;
  border-radius: 50px;
  font-weight: 500;

  position: relative;

  &:hover {
    background-color: #fff;
    color: #0099ff;
    font-weight: 500;
    border-style: solid;
    border-color: #0099ff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
}

.results-container {
  margin-top: 30px;
  width: 75%;
  height: 700px;
  overflow-y: scroll;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;

  .result-container {
    display: flex;
    gap: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

    .score-color-green {
      background-color: #63dd85;
      width: 10px;
      border-radius: 10px 0 0 10px;
    }

    .score-color-yellow {
      background-color: #f5b716;
      width: 10px;
      border-radius: 10px 0 0 10px;
    }

    .score-color-red {
      background-color: #f46c64;
      width: 10px;
      border-radius: 10px 0 0 10px;
    }

    .result-detail {
      margin: 10px 5px;

      .result-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .result-title {
          font-size: 24px;
          font-weight: 500;
          width: 700px;
          height: 30px;
          overflow: hidden;
        }

        .author-date {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 10px;
          gap: 50px;

          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}

.expanded-results {
  display: flex;
  margin: 30px auto;
  width: 75%;
  height: 700px;
  overflow-y: scroll;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 25px;

  .expanded-resultList {
    width: 50%;

    .shrinked-container {
      display: flex;
      gap: 20px;
      background-color: #f1f1f1;
      border-radius: 10px;
      margin-bottom: 20px;
      cursor: pointer;

      .score-color-green {
        background-color: #63dd85;
        width: 10px;
        border-radius: 10px 0 0 10px;
      }

      .score-color-yellow {
        background-color: #f5b716;
        width: 10px;
        border-radius: 10px 0 0 10px;
      }

      .score-color-red {
        background-color: #f46c64;
        width: 10px;
        border-radius: 10px 0 0 10px;
      }
    }

    .expanded-preview {
      padding: 10px 0;

      .expanded-header {
        display: flex;
        margin-bottom: 15px;

        .expanded-title {
          font-size: 22px;
          font-weight: 500;
          width: 400px;
          height: 30px;
          overflow: hidden;
          display: inline-block;
        }
        .addition {
          font-size: 24px;
          font-weight: 500;
          vertical-align: center;
        }
      }

      .expanded-info {
        display: flex;
        justify-content: space-between;

        .keywords {
          position: relative;
          .keywords-detail {
            position: absolute;
            background-color: #fff;
            padding: 20px;
            margin-top: 5px;
            color: #000;
            z-index: 1000;
            width: 300px;
            height: 100px;
            float: right;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: none;
          }
        }
      }
    }
  }

  .result-page {
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 700px;
    overflow-y: scroll;

    .score-color-green {
      background-color: #63dd85;
      width: 10px;
      border-radius: 10px 0 0 10px;
      height: 100vh;
    }

    .score-color-yellow {
      background-color: #f5b716;
      width: 10px;
      border-radius: 10px 0 0 10px;
      height: 100vh;
    }

    .score-color-red {
      background-color: #f46c64;
      width: 10px;
      border-radius: 10px 0 0 10px;
      height: 100vh;
    }

    .page-detail {
      padding-top: 30px;
      padding-right: 15px;
      padding-left: 15px;
      width: 95%;
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .detail-title {
        font-size: 20px;
        font-weight: 500;
      }

      .detail-abstract {
        text-align: left !important;
      }
    }
  }
}

.error-container {
  margin: 30px auto;
  width: 50%;
}
