.searchBar {
  position: relative;
  .clear-results {
    position: absolute;
    top: 5px;
    right: 225px;
    background-color: #88a47c;
    padding: 10px;
    border-radius: 10px;
    color: #fff;

    &:hover {
      background-color: #fff;
      border-color: #88a47c;
      border-style: solid;
      border-width: 2px;
      color: #88a47c;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}

.results-container {
  width: 1100px;
  margin: 30px auto;
  position: relative;

  .option-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .expanded-results {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.results-container-null {
  width: 30%;
  margin: 20px auto;
}
