.header-img {
  height: 300px;
  width: 100vw;
  background-image: url("./assets/header2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.results-container {
  width: 1100px;
  margin: 30px auto;
  position: relative;

  .option-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .expanded-results {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.results-container-null {
  width: 900px;
  margin: 20px auto;
}
